body {
    margin: 0;
    overflow: hidden;
    background: url('ye base.jpg') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    display: block;
    background: rgba(255, 255, 255, 0.8);
}
